<header>
  <div class="brand">Watched</div>
  <a class="loginLink">Login</a>
</header>
<section class="watchNotification">
  <div>
      <p><span class="watchText">Watch all</span> watches all episodes with the air date.</p>
      <p><span class="watchText">Watch entire season</span> watches all episodes of the season with the air date.</p>
      <p>Neither will modify already watched episodes.</p>
      <button class="watchConfirm btn btn-default">Watch all and never show me again.</button>
      <button class="watchCancel btn btn-default">Nevermind, take me back!</button>
  </div>
</section>
<section role="region" class="sidebar">
  <div class="sidebarNav">
    <div class="searchNav">
      <a href="/">
        <img src="icons/search.png">
      </a>
    </div>
    <div class="profileNav">
      <a href="/profile">
        <img src="icons/profile.png">
      </a>
    </div>
    <div class="friendsNav">
      <a href="#">
        <img src="icons/friends.png">
      </a>
    </div>
  </div>
  <div class="collapseNav">
    <button>
      <img src="icons/chevronOpen.png" class="chevronOpen">
    </button>
  </div>
  <div class="logNav">
    <a href="#">
      <img src="icons/login.png">
    </a>
  </div>
</section>
<section role="region" class="login displayLogin">
  <div class="loginBox">
    <div class="closeButton">
      <img src="icons/close.png" alt="close button">
    </div>
    <form class="loginForm" action="/api/auth/login" method="post">
      <fieldset>
        <legend>
          Login
        </legend>
        <p><span class="currentForm-js">Need an account?</span> <span class="registerLink">Register</span></p>
        <p class="loginError"></p>
        <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <button class="btn btn-default" type="submit">Go</button>
      </fieldset>
    </form>
  </div>
</section>