<header>
  <div class="brand">Capstone 2</div>
</header>
<section role="region" class="sidebar">
  <div class="sidebarNav">
    <div class="searchNav">
      <a href="#">
        <img src="icons/search.png">
      </a>
    </div>
    <div class="profileNav">
      <a href="#">
        <img src="icons/profile.png">
      </a>
    </div>
    <div class="friendsNav">
      <a href="#">
        <img src="icons/friends.png">
      </a>
    </div>
  </div>
  <div class="collapseNav">
    <button>
      <img src="icons/chevron.png">
    </button>
  </div>
  <div class="logoutNav">
    <a href="#">
      <img src="icons/login.png">
    </a>
  </div>
</section>