
#watchedTitles {
  font-size: 18px;
  text-align: center;
  position: relative;
}

.watchedTitle p {
  cursor: pointer;
}

main{
  padding-top: 10px;
}

.seasonBlock {
  position: sticky;
  top: 90px;
  width: 100%;
  padding: 10px;
  line-height: 50px;
  border: 3px solid #222;
  border-radius: 5px;
  margin: 60px auto;
  background-color: white;
}

.episodeCount {
  text-align: right;
}

.seasonNumber {
  margin-left: 10px;
}

.seasonTable {
  width: 100%;
}

.showInfo {
  margin-top: 20px;
}

.showDescription {
  line-height: 1.4;
  float: right;
  width: 70%;
  text-align: left;
}

.showDescription p {
  margin-bottom: 10px;
}

.showInfo img {
  width: 30%;
  max-width: 250px;
  display: inline-block;
  z-index: -5;
}

.showTitle {
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}

.showOptions {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  top: 50px;
  margin: 0 auto;
  text-align: left;
  background-color: #222;
}

.showOptions p {
  margin-right: auto;
}

.showButtons {
  margin-left: auto;
}

.showButtons button {
  color: black;
  margin: 5px;
}

.watchAllShow {
  background-color: #e8554e;
  color: black;
}

.showButtons .removeShow {
  background-color: #222;
  color: white;
}

.seasonOptions {
  text-align: right;
}

.seasonOptions button {
  color: black;
}

.viewSeason {
  float: left;
}

.seasonOptions .watchAllSeason {
  background-color: #e8554e;
}

@media only screen and (max-width: 600px), (max-height: 400px) {
  .showOptions {
    display: block;
    position: initial;
    width: 100%;
    top: 50px;
    margin: 10px auto;
    min-height: 50px;
    padding: 8px;
  }

  .showOptions p {
    display: block;
    text-align: center;
  }

  .showButtons button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .showInfo img {
    float: left;
  }

  .showDescription {
    line-height: 1;
    padding: 0px 10px;;
  }

  .seasonBlock {
    position: initial;
    display: block;
    border: none;
    background-color: none;
    margin: 20px auto;
  }

  .seasonBlock button {
    margin: 8px 0px;
    width: 100%;
    display: block;
    clear: both;
  }
}



