*{
  box-sizing: border-box;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

legend {
  width: 100%;
}

.legendText {
  display: inline-block;
  border-bottom: 2px solid #222;
  padding-bottom: 2px;
}

.titleSearch {
  width: 80%;
  height: 25px;
  margin-top: 25px;
  max-width: 350px;
  min-width: 150px;
  padding: 10px;
}



label {
  margin-right: 6px;
}

.searchButton {
  color: black;
  display: block;
  margin: 15px auto;
  width: 150px;
  background-color: #e8554e;
  font-weight: 600;
}

.searchButton:hover {
  background-color: white;
  color: black;
  border-color: #222;
}

.searchButton:focus{
  background-color: white;
  color: black;
  border-color: #222;
}

#searchResults {
  width: 50%;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.result {
  clear: both;
  margin-top: 25px;
}

.resultImg {
  width: 20%;
}

.resultInfo {
  width: 80%;
  padding: 10px;
  padding-top: 0px;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

.resultInfo p {
  width: 100%;
  padding: 10px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: left;
}

input:-webkit-autofill {
  background-color: white;
}

.resultTitle {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-weight: bold;
}

.resultInfo button {
  margin-top: 15px;
  border: 1px solid black;
  color: black;
}

.IMDB {
  background-color: white;
  color: black;
}

.IMDB:hover {
  background-color: #222;
}

.resultInfo .watched  {
  color: #e8554e;
  margin-top: 25px;
  text-align: center;
}

#watchedTitles {
  position: fixed;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 50%;
  line-height: 1.2;
  text-align: center;
  grid-area: result;
  margin-top: 55px;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 50px;
}

#watchedTitles>p{
  font-size: 21px;
}

.watchedTitle p {
  cursor: pointer;
  text-decoration: underline;
}

.watchButtons {
  margin-top: 10px;
}

.resultInfo .watchShows {
  text-align: center;
  color: #e8554e;
}

.watchedError {
  color: #e8554e;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.btn-default {
  border: 1px solid black 
}

.clickTitle{
  border-bottom: 2px solid #222;
  padding-bottom: 2px;
}

.clickHeader {
  position: sticky;
  top: 0px;
  background-color: white;
  height: 40px;
}

.hideResults {
  display: none;
}

@media only screen and (max-width: 768px),
(max-height: 400px) {
  .clickHeader {
    position: initial;
  }

  #searchResults {
    display: block;
    width: 100%;
  }

  form {
    display: block;
    width: 100%;
  }

  #watchedTitles {
    position: initial;
    display: block;
    width: 100%;
  }

  .hideResults {
    display: block;
    margin: 0 auto;
    border-color: black;
  }
  
}


