main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
  grid-column-gap: 10px;
  grid-template-areas: "form something" "result result"
}

form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

legend {
  width: 100%;
}

.legendText {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.titleSearch {
  width: 80%;
  height: 25px;
  margin-top: 25px;
  max-width: 350px;
  min-width: 150px;
  padding: 10px;
}

label {
  margin-right: 6px;
}

select {
  width: 80%;
  height: 32px;
  margin-top: 25px;
  max-width: 350px;
  min-width: 150px;
}

.searchButton {
  margin-top: 10px;
}

fieldset {
  margin-top: 10px;
}

#searchResults {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

#searchResults p {
  text-align: center;
}

.result {
  clear: both;
  margin-top: 10px;
}

#selectedResult {
  margin-top: 20px;
  grid-area: result;
}

#selectedResult p {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.resultImg {
  vertical-align: middle;
  width: 20%;
}

.resultInfo {
  width: 80%;
  padding: 10px;
  float: right;
  text-align: center;
}

.resultDesc {
  margin-top: 10px;
  text-align: left;
}

.resultTitle {
  text-align: center;
  font-weight: bold;
}

.resultDesc {
  margin-left: 10px;
}

.resultInfo button {
  margin-top: 15px;
}

.watchd {
  color: #e8554e;
  margin: 25px;
}
