<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main>
      <p><span class="aboutpage">About & Help</span></p>
      <section class="aboutContainer">
        <p class="aboutHeader">About</p>
        <div class="row createdBy">
          <p class="category">Created by:</p>
        </div>
        <div class="row">
          <p class="category">Who is me?</p>

        </div>
        <div class="row">
          <p class="category">Technologies</p>
        </div>
      </section>
    </main>
    <% include ../partials/scripts %>
      <script src="js/about.js"></script>
</body>

</html>