<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main>
      <form>
        <fieldset>
          <legend>
            <span class="legendText">Search for a TV Show or Movie</span>
          </legend>
          <label for="search">Title</label>
          <input class="titleSearch" type="text" name="search">
          <div>
            <label for="type">Type</label>
            <select class="typeSelect" name="type">
              <option>Both</option>
              <option>Movie</option>
              <option>TV Show</option>
            </select>
          </div>
          <button class="searchButton" type="submit">Search</button>
        </fieldset>
      </form>
      <section id="searchResults">
        <div class="result">
          <img class="resultImg" src="images/bsgtest.jpg">
          <div class='resultInfo'>
            <div class="resultTitle">
              Battlestar Galactica
            </div>
            <p class="resultDesc">
              When an old enemy, the Cylons, resurface and obliterate the 12 colonies, the crew of the aged Galactica protect a small civilian
              fleet - the last of humanity - as they journey toward the fabled 13th colony, Earth.
            </p>
            <button class="Watching btn btn-danger">Watching</button>
            <button class="Watched btn btn-default">Watched All</button>
            <button class="IMDB btn btn-info">View on IMDB</button>
          </div>
        </div>
      </section>
      <section id="selectedResult">
        This section will allow for immediate management of show
      </section>
    </main>
    <% include ../partials/scripts %>
</body>

</html>