<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main>
      <section class="watchedShows">
        <p>Manage your watched shows</p>
        <p>Manage your watched shows</p>
        <p>Manage your watched shows</p>
        <p>Manage your watched shows</p>
        <p>Manage your watched shows</p><p>Manage your watched shows</p><p>Manage your watched shows</p>
      </section>
    </main>
    <% include ../partials/scripts %>
</body>

</html>