<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main id=<%= show %>>
      <section id="watchedTitles">
        <p class="watchedHelp authNeeded">Click the title of a show to manage episodes.</p>
        <p class="preAuth">Login to manage your shows.</p>
        <div id="displayFilters" class="authNeeded">
            <button class="btn btn-default titleBlocks">Title blocks</button>
            <button class="btn btn-default imageBlocks" disabled>Image blocks</button>
        </div>
      </section>
      <section id="episodes">
        
      </section>
    </main>
    <% include ../partials/scripts %>
    <script src="js/profile.js"></script>
</body>

</html>