<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main>
      <section id="watchedTitles">
        <p class="watchedHelp">Click the title of a show to manage episodes.</p>
        <div id="displayFilters" class="authNeeded">
            <button class="btn btn-default titleBlocks">Title blocks</button>
            <button class="btn btn-default imageBlocks">Image blocks</button>
        </div>
      </section>
      <section id="episodes">
        <p>hello</p>
      </section>
    </main>
    <% include ../partials/scripts %>
    <script src="js/profile.js"></script>
</body>

</html>