<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
  <% include ../partials/navigation %>
    <main>
      <form class="searchForm-js">
        <fieldset>
          <legend>
            <span class="legendText">Search for a TV Show</span>
          </legend>
          <label for="search">Title</label>
          <input class="titleSearch" id="search" type="text" name="search" required>

          <button class="btn btn-default searchButton" type="submit">Search</button>
        </fieldset>
      </form>
      <section id="searchResults">
        <p>What are you waiting for? Search and see the results here!</p>
      </section>
      <section id="watchedTitles">
        <div class="separator"></div>
        <p class="preAuth">Login to see what you are Watching!</p>
        <p class="authNeeded">Click the title of a show to manage episodes.</p>
        <div id="displayFilters" class="authNeeded">
            <button class="btn btn-default titleBlocks">Title blocks</button>
            <button class="btn btn-default imageBlocks" disabled>Image blocks</button>
        </div>
      </section>
    </main>
    <% include ../partials/scripts %>
      <script src="js/search.js"></script>
</body>

</html>